/* Force rebuild */

<style>

body {
       font-family: 'EB Garamond', 'sans-serif';
      margin: 0;
      padding: 0;
      background-color: #fff;
    }

.site-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  background-color: #fff;
}

.top-banner {
  background-color: #70778d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  font-family: 'Abel', sans-serif;
  font-size: 0.6rem;
}

.banner-logo img{
  height: 12px;
  width: auto;
  margin-right: 0.2rem;
  vertical-align: middle;
}

.banner-title {
  display: inline-block;
  letter-spacing: 0.05rem;
  margin-left: 0.3rem;
}

.site-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  background-color: #faf8fa;
  color: #414553;
  padding: 0.8rem 1rem 0.5rem 1rem;
  flex-wrap: wrap;
  border-left: 1px solid #dcd5dc;
  border-right: 1px solid #dcd5dc;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.logo{
  font-family: 'Passion One', 'Protest Strike',  'Alfa Slab One', sans-serif;
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 0.01em;
  text-shadow: 0.6px 0.6px 1.2px rgba(0, 0, 0, 0.15);
  margin-bottom: 0.1rem;
}

.quote {
  font-family: 'Borel', cursive;
  color: #423d42;
  font-size: 0.7em;
  letter-spacing: 0.01em;
  margin-top: 0.1rem;
  margin-bottom: 0.8rem;
}

.top-nav {
  box-sizing: border-box;
  padding: 0 1rem;
  border-top: 1px solid #dcd5dc;
  border-bottom: 1px solid #dcd5dc;
  width: 100%;
  overflow-x: hidden;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  position: relative;
}

.nav-spacer {
  width: clamp(40px, 20vw, 170px); /* match approx. width of search bar */
}

.top-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 0;
  margin: 0 auto; 
  text-align: center;
}

.top-nav a {
  font-family: 'Abel', 'sans-serif';
  color: #423d42;
  font-size: 0.65rem;
  line-height: 1.2;
  text-decoration: none;
  padding: 2px 0;
  margin: 0;
  display: inline-block;
  outline: none;
}

.top-nav ul li a {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.4rem;
  line-height: 1;
}

.top-nav a:hover {
  color: #846584;
  text-decoration: underline;
}

.top-nav a:focus,
.top-nav a:visited {
   color: #be8bac;
   text-decoration: none;
   outline: none;
}

.search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-toggle {
  background: none;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  color: #423d42;
}

.search-input {
  max-width: 80vw;
  position: absolute;
  right: 83%;
  top: ;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
  border: 1px solid #ccc;
  padding: 0.2rem 0.5rem;
  font-size: 0.6rem;
  background-color: white;
  color: #423d42;
  outline: none;
  width: clamp(80px, 15vw, 100px);
  z-index: 10;
}

.search-wrapper.active .search-input {
  transform: scaleX(1);
}

.search-icon {
  width: 0.6rem;
  height: auto;
  padding-right: 0.3rem;
}

.container {
  display: flex;
  min-height: 100vh;
  border-right: 1px solid #dcd5dc;
  border-left: 1px solid #dcd5dc;
}

.content {
  color: #fdfdf0;
  flex: 1;
  background: #bcd6b9;
  padding: 1rem;
}

.post-card {
  display: flex;
  flex-direction: row;
  height: auto;
  min-height: 160px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
  margin-bottom: 1.5rem;
  transition: box-shadow 0.3s ease;
  font-family: 'Abel', sans-serif;
}

.post-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.post-image {
  flex-shrink: 0;
  width: 160px;
  height: 160px;
  overflow: hidden;
  margin-bottom: 0.8rem;
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 10%;
  display: block;
}

.post-image-shoshimin {
  flex-shrink: 0;
  width: 160px;
  height: 180px;
  overflow: hidden;
  margin-bottom: 0.8rem;
}

.post-image-shoshimin img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center bottom;
  display: block;
}

.post-details {
  padding: 0.8rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag-label {
  background-color: #f06292;
  color: #fff;
  font-size: 0.5rem;
  padding: 3px 7px;
  border-radius: 12px;
  font-weight: normal;
  align-self: flex-start;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}


.tag-ranking {
  background-color: #f06292;
}

.tag-english {
  background-color: #3498db;
}

.tag-review {
  background-color: #2ea962;
}

.tag-classic {
  background-color: #9b59b6;
}

.tag-editorial {
  background-color: #fbc02b;
}

.tag-spotlight {
  background-color: #bdb020;
}

.tag-misc {
  background-color: #646a6f;
}

.post-title {
  font-family: 'Bahnschrift SemiCondensed', 'Abel', 'sans-serif';
  font-size: 1rem;
  margin: 0 0 0.3rem 0;
  color: #333;
}

.post-date {
  font-size: 0.6rem;
  color: #888;
  font-weight: medium;
  margin: 0.2rem 0 0.5rem 0;
}

.post-excerpt {
  font-size: 0.65rem;
  color: #444;
  margin: 0;
  line-height: 1.4;
  max-height: 6em; /* Around 4 to 5 lines depending on line-height */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

.read-more {
  display: inline-block;
  margin-top: 0.6rem;
  font-size: 0.6rem;
  color: #5c4084;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}

.jp-title {
  font-size: 0.7em;
  font-weight: normal;
  color: #666; /* or anything subtle */
}

.sidebar {
  width: 180px;
  background: #eeeeee;
  padding: 1rem;
  padding-top: 1rem;
  font-family: 'EB Garamond', 'sans-serif';
  color: #6d666d;
  order: 1;
}

.week-rank {
  font-family: 'Abel', 'sans-serif';
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  padding: 0.1rem 0.5rem;
}

.year-block {
  margin-bottom: 0.1rem;
}

.collapsible {
  background: none;
  border: none;
  font-family: 'Abel', 'sans-serif';
  font-size: 0.65rem;
  font-weight: normal;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  gap: 0.25rem;
  align-items: center;
  width: 100%;
  padding: 0.15rem 1rem;
  text-align: left;
  color: #6d666d;
}

.arrow {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}

.month-links {
  list-style: none;
  padding-left: 2rem;
  margin: 0.1rem 0 0 0;
  display: none;
}

.month-links li {
  padding: 0;
}

.month-links a {
  color: #565056;
  font-family: 'Abel', 'sans-serif';
  font-size: 0.65rem;
  font-weight: normal;
  text-decoration: none;
}

.month-links a:hover {
  color: #8ca989;
}

.side-nav a {
  color: #0f0f0f;
  text-decoration: underline;
}

.side-nav a:hover {
  color: #8ca989;
  text-decoration: underline;
}

ul {
  margin-top: 0.5rem;
  line-height: 1.5rem;
}


footer {
  font-family: 'Abel', 'sans-serif';
  font-size: 0.7rem;
  color: #fdfdf0;
  font-weight: normal;
  text-align: center;
  padding: 0.5rem;
  background-color: #333;
  border-right: 1px solid #dcd5dc;
  border-left: 1px solid #dcd5dc;
 
}

.search-wrapper.active {
    display: block;
  }

.ranking-widget {
  background-color: transparent;
  border: 1px solid #ccc;
  padding: 0.4rem 0.2rem 0.3rem 0.2rem;
  font-family: 'Abel', 'sans-serif';
  font-size: 0.6rem;
  line-height: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  margin: 3rem 0.1rem 2rem 0.1rem;

}

.ranking-header {
  color: #414553;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0rem;
}

.week-info {
  margin-top: 0.3rem;
  font-size: 0.6rem;
}

.latest-badge {
  display: inline-block;
  margin-left: 0.3rem;
  padding: 0.1rem 0.1rem;
  font-size: 0.7rem;
  line-height: 0.9;
  border: 0.5px solid #666;
  border-radius: 0px;
  background-color: transparent;
  font-size: 0.5rem;
  color: #555;
  font-weight: 500;
  vertical-align: middle;
}


.ranking-entry {
  display: grid;
  grid-template-columns: 0.1rem 0.5rem 1fr auto auto;
  align-items: center;
  gap: 0.6rem;
  border-bottom: 1px dashed #ccc;
  padding-bottom: 0.06rem;
}

.ranking-entry:last-child {
  border-bottom: none;
}

.rank {
  font-size: 0.5rem;
  font-weight: bold;
  text-align: center;
  padding-left: 0.1rem;
}

.trend {
  text-align: center;
  font-size: 0.1rem
}

.arrow-up {
  transform: rotate(90deg);
}

.arrow-stay {
  transform: rotate(180deg);
}

.arrow-down {
  transform: rotate(270deg);
}

.trend.up {
  color: green;
}
.trend.down {
  color: red;
}
.trend.same {
  color: gray;
}

.title {
  color: #414553;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.eps {
  font-size: 0.5rem;
  font-weight: normal;
}

.ep {
  font-size: 0.5rem;
  color: #666;
}

.score {
  font-weight: bold;
  font-size: 0.55rem;
}


.archive-title {
  font-family: 'Abel', 'sans-serif';
  font-size: 0.7rem;
  margin-top: 2rem;
  margin-bottom: 0.6rem;
  border-top: 2px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding-top: 0.8rem;
  padding-bottom: 0.3rem;
  color: #423d42;
}

.featured-title {
  font-family: 'Abel', 'sans-serif';
  font-size: 0.7rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
  border-top: 2px solid #aaa;
  border-bottom: 1px solid #aaa;
  padding-top: 0.8rem;
  padding-bottom: 0.3rem;
  color: #423d42;
}

.featured-posts {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.featured-post-link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.featured-post-link .post-title:hover {
  text-decoration: underline;
  color: #8ca989;
}

.featured-post-link:hover {
  background: transparent; /* ensures no visual change */
}

.featured-post-item {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;
  overflow: hidden;  /* Prevent overflow */
  box-sizing: border-box; /* Contain padding/border */
  max-height: 48px;
}

.featured-post-item: after {
  content: "";
  display: block;
  clear: both;
}

.featured-post-item img {
  width: 36px;
  height: 48px;
  object-fit: cover;
  border: 1px solid #ccc;
}

.featured-post-item .post-info {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

.featured-post-item .post-title {
  font-family: 'Abel', 'sans-serif';
  font-size: 0.58rem;
  font-weight: bold;
  color: #565056;
  margin-bottom: 0.1rem;
  text-decoration: none;
}

.featured-post-item .post-excerpt {
  font-size: 0.53rem;
  color: #6d666d;
  margin: 0.06rem 0 0 0;
  line-height: 0.65rem;
  font-family: 'Abel', 'sans-serif';
}

.featured-post-item .post-date {
  font-size: 0.45rem;
  color: #888;
  margin: 0 0 0 0;
  font-family: 'Abel', 'sans-serif';
}

@media (max-width: 800px) {
  .quote {
  font-family: 'Borel', cursive;
  color: #423d42;
  font-size: 0.6em;
}

  .nav-inner {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .top-nav ul {
    margin: 0.1rem 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  .top-nav ul li a {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

  .search-wrapper {
    position: absolute;
    top: 35%;
    right: 0.2rem;
    width: auto;
    z-index: 1000;
    margin-top: 0rem;
    justify-content: center;
  }
  
  .search-wrapper.active {
    display: block;
  }

  .search-input {
    position: absolute;
    right: 80%;
    top: 0;
    padding: 0 0.3rem;
    font-size: 0.6rem;
    width: 80px;
    margin-top: 0;
  }

 .post-image-shoshimin {
  height: 200px;
  }

}

@media (max-width: 600px) {
  .top-nav ul {
    gap: 0.rem;
    font-size: 0.6rem;
  }

  .logo {
    font-size: 1.6rem;
  }

  .quote {
    font-size: 0.55rem;
  }
  
  .search-input {
    width: 80px;
    font-size: 0.6rem;
  }
  
}

@media (max-width: 480px) {
.quote {
  font-size: 0.4rem !important;
}

  .top-banner {
    font-size: 0.5rem;
    flex-direction: row;
  }

.banner-logo img {
  height: 10px;
  vertical-align: middle;
}

.banner-title {
  letter-spacing: 0.03rem;
  margin-left: 0.1rem;
}

  .top-nav ul {
    gap: 0.5rem;
  }

  .search-input {
    width: 60px;
  }

.post-image {
  height: 200px;
}

.post-image-shoshimin {
  height: 220px;
}

  .sidebar {
    display: none;
  }

  .content {
    padding: 0.5rem;
  }
}


</style>