html {
  font-size: 16px; /* デフォルトのフォントサイズ */
}

.weekly-overview {
      font-family: 'Oxygen', 'Nunito', 'Segoe UI', sans-serif;
      max-width: 680px;
      margin: 0 auto 1.25rem auto;
      padding: 0 0 1.25rem 0;
      line-height: 1.7;
      color: #5e5e5e;
      background-color: #fffff0;
      border: none;
    }
    
    .overview-title {
      font-size: 1.025rem;
      font-family: 'Noto Sans TC SemiBold', 'Squada One', sans-serif;
      font-weight: 400;
      color: #7f7d7d;
      text-align: right;
      margin-top: 16px;
      margin-bottom: 4px;
      border-bottom: 0.5px solid #ccc;
      padding-bottom: 0.1rem;
    }

    .week-number {
      color: #cd8969;
    }
    
    .date {
      font-size: 0.725rem;
      font-family: 'Abel', sans-serif;
      font-weight: 400;
      color: #8a8787;
      text-align: right;
      margin-top: -1px;
      margin-bottom: -0.625rem;
    }
    
    .section-title {
      font-size: 0.975rem;
      margin-top: 1.75rem;
      margin-bottom: 1.25rem;
      color: #666464;
      font-weight: 600;
      border-left: solid 2px #e2b29c; /* changed from #cdcdcd */
      padding-left: 0.25rem;
    }

    .weekly-overview p {
      font-size: 0.825rem;
      color: #3d3d3d;
      max-width: 92ch;
      width: 90%;
      margin-bottom: 0.5rem;
      text-align: justify;
      line-height: 1.85;
    }

	ul {
      font-size: 0.825rem;
      color: #3d3d3d;
      max-width: 92ch;
      width: 90%;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      text-align: justify;
      line-height: 1.8;
}

.weekly-overview ul{
  list-style: none;
  padding-inline-start: 1rem; /* 0〜1remで調整 */
  margin-left: 0;
}

li {
  margin-top: 0.5rem;
}

.dropped-list {
      font-size: 0.775rem;
      color: #615e5e;
      margin-top: 0.5rem;
      padding-left: 1.5rem;
      line-height: 1.7;
}
    .dropped-list li::marker {
      color: #bbb;
}

/* Responsive Design */
    @media screen and (max-width: 768px) {
      html {
        font-size: 15px; /* スマホ用のフォントサイズ */
      }
    }

    @media screen and (max-width: 480px) {
      html {
        font-size: 14px; /* スマホ用のフォントサイズ */ 
      }
      .weekly-overview p {
      max-width: 92ch;
      width: 95%;
    }  
  }