.html {
  font-size: 16px; /* デフォルトのフォントサイズ */
}

.weekly-overview {
      font-family: 'Oxygen', 'Nunito', 'Segoe UI', sans-serif;
      max-width: 680px;
      margin: 0 auto 1.25rem auto;
      padding: 0 1.25rem 0.625rem 1.25rem;
      line-height: 1.7;
      color: #5e5e5e;
      background-color: #fffff0;
      border: none;
    }
    
    .overview-title {
      font-size: 0.9rem;
      font-family: 'Noto Sans TC SemiBold', 'Squada One', sans-serif;
      font-weight: 400;
      color: #7f7d7d;
      text-align: right;
      margin-bottom: 2px;
      border-bottom: 0.5px solid #ccc;
      padding-bottom: 0.19rem;
    }

    .week-number {
      color: #cd8969;
    }
    
    .date {
      font-size: 0.6rem;
      font-family: 'Abel', sans-serif;
      font-weight: 400;
      color: #8a8787;
      text-align: right;
      margin-top: -1px;
      margin-bottom: -0.625rem;
    }
    
    .section-title {
      font-size: 0.85rem;
      margin-top: 1.75rem;
      margin-bottom: 1.25rem;
      color: #666464;
      font-weight: 600;
      border-left: solid 2px #e2b29c; /* changed from #cdcdcd */
      padding-left: 0.25rem;
    }

    .weekly-overview p {
      font-size: 0.7rem;
      color: #3d3d3d;
      width: 92ch;
      margin-bottom: 0.5rem;
      text-align: justify;
      line-height: 1.8;
    }
/* Responsive Design */
    @media screen and (max-width: 768px) {
      .html {
        font-size: 13px; /* スマホ用のフォントサイズ */
      }
    }

    @media screen and (max-width: 480px) {
      .html {
        font-size: 9px; /* スマホ用のフォントサイズ */ 
      }
    }   