body {
  background-color: #fffdec; 
   margin: 0;
   padding: 0;
   font-family: 'Abel', sans-serif;
   color: #333;
}

.outer-wrapper {
      display: flex;
      justify-content: center;
      padding: 2rem 1rem;
    }

.main-container {
      max-width: 800px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: #fffdec;
      padding: 1rem;
      margin: 0 auto;
      border-radius: 10px;
      box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    }


.post-header h1 {
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
  color: #2b2b2b;
}

.post-date {
  font-size: 0.75rem;
  color: #707070;
  margin-bottom: 2rem;
}

.post-intro, .post-conclusion, .disclaimer {
      font-size: 0.9rem;
      margin-top: 1rem;
      line-height: 1.4;
    }

.tier-criteria {
  margin: 2rem 0;
  padding: 1rem;
  font-size: 0.8rem;
  color: #555;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.criteria-title {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #444;
}

.criteria-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.criteria-list li {
  margin: 0.25rem 0;
  line-height: 1.5;
}

.criteria-list span {
  font-weight: 500;
  color: #222;
  margin-right: 0.3rem;
}

.disclaimer {
  font-size: 0.95em;
  color: #555;
  margin-top: 18px;
  padding-top: 10px;
}

.post-intro {
  font-size: 0.9rem;
  margin-top: 0.9rem;
  margin-bottom: 2rem;
  line-height: 1.2;
} 

.post-content {
  font-size: 0.9rem;
  margin-top: 0.9rem;
  line-height: 1.2;
} 

.post-conclusion  {
  font-size: 0.9rem;
  margin-top: 2rem;
  line-height: 1.2;
} 

.tier-critiria .post-content {
  font-size: 0.65rem;
  margin-top: 0.65rem;
  margin-bottom: 0.8rem;
  line-height: 1.2;
}

.tierlist-image {
  margin-top: 2rem 0 1.5rem 0;
  width: 100%;
}

.tierlist-image img {
  max-width: 60%;
  height: auto;
  border: 1px solid #ddd;
  brder-radius: 6px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: zoom-in;
}

.tierlist-image img:hover {
  transform: scale(1.5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: relative;
}

.back-link {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  color: #555;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}

/* Mobile fix: disable zoom on hover */
@media (max-width: 600px) {
  .tierlist-image img {
    max-width: 100%;
    cursor: default;
  }

  .tierlist-image img:hover {
    transform: none;
    box-shadow: none;
  }
}
